<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.sagemath.droid"
          android:installLocation="auto">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:allowBackup="true"
            android:theme="@style/Theme.AppCompat.Light">

        <activity
                android:name=".activities.SageActivity"
                android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".activities.ManageInsertActivity"
                  android:label="@string/activity_manage_inserts_title"/>

        <activity android:name=".activities.HelpActivity"
                  android:label="@string/activity_help_title"/>
        <activity android:name=".activities.SettingsActivity"
                  android:label="@string/activity_settings_title"/>

        <activity
                android:name=".activities.CellActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
                android:name=".activities.CellListActivity">
        </activity>

    </application>

</manifest>
